# Dependencies
/vendor/

# IDE
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Testing
.phpunit.result.cache
.phpunit.cache/
coverage/

# Build artifacts
/dist/
